<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="/">Locus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active locos_color" href="<%= suburbs_path %>">Suburbs</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NavBar END -->

<!-- Header -->
<h1 class="text_align suburbs_head_h">The Suburbs of Sydney!</h1>
<br>
<!-- <p class="text_align suburbs_head_p">Find me in app/views/suburbs/index.html.erb</p> -->
<!-- Header END -->

<!-- Main Body -->
<div class="content_body">
  <!-- Filter Section  -->
  <div class="filter_card">
    <h5 class="font-weight-normal locos_color">Filter</h5>
    <hr>
    <h6>Central Locations</h6>

    <!-- <form id="search">
      <input class="form-control" id="query" type="search" placeholder="Manly">
    </form> -->

    <div id="location-search">
    <form role="search" method="get" class="search-form" action="https://www.techcoil.com/search">
    <input class="form-control" type="search" id="search-field" placeholder="Manly" name="q" title="Search for location">




    <script>

    console.log("test");
    var newSearch = false;
    $(document).ready(function(){
      var filtered = [];//search
      $("#location-search").submit(function(e){
        e.preventDefault();
        var centerLocation = $('#search-field').val();//query

        <% @suburb.each do |suburb| %>


        var latitude = 0;
        var longitude = 0;
        var rent = 0;
        var costOfLiving = 0;

        var suburbName = <%= suburb.id %>;
        var geocoder = new google.maps.Geocoder();
        latitude = <%= suburb.lat %>;
        longitude = <%= suburb.long %>;
        rent = <%= suburb.median_rent %>;
        costOfLiving = <%= suburb.living_cost %>;

        console.log(suburbName);

        renderSuburbs(geocoder, centerLocation, latitude, longitude, suburbName, rent, costOfLiving );

        function renderSuburbs(geocoder, address, latitude, longitude, suburbName, rent, costOfLiving) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            long = parseFloat(results[0].geometry.location.lng().toString());
            lat = parseFloat(results[0].geometry.location.lat().toString());
            var userloc = new google.maps.LatLng(lat, long);
            var suburbloc = new google.maps.LatLng( latitude, longitude);
            var distance_in_km = (google.maps.geometry.spherical.computeDistanceBetween( userloc, suburbloc )/1000).toFixed(2);
            let radius = document.getElementById("radiusRange").value;
            radius = parseInt(radius);
            let rentRange = document.getElementById("rentRange").value;

            console.log(suburbName);
            console.log("Radius:" + radius);
            console.log("Distance:" + distance_in_km);

            if (distance_in_km <= radius && rent <= rentRange) {
                 console.log("Selected suburb");
                 console.log("--------");
                 var container = document.getElementsByClassName("suburbs_cardholder");
                 let i = parseInt(suburbName);
                 var p = container[0].firstElementChild.children[i-1];
                 p.style.display="inline-block";
            } else {
                var container = document.getElementsByClassName("suburbs_cardholder");
                console.log(container);
                let i = parseInt(suburbName);
                var p = container[0].firstElementChild.children[i-1];
                console.log(p);
                p.style.display="none";
            }

          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      // end geocoding location
      <% end %>
      console.log(filtered);
      newSearch = true;

    });// end

    });
</script>


      <%# <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Sydney CBD
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bondi Beach
        </label>
      </div> %>

      <!-- Distance slider -->

      <!-- Constant for Sydney -->







      <div class="slidecontainer">
        <h6 class="text-muted text">Search Radius</h6>
        <input type="range" min="1" max="200" value="50" class="custom-range range_color" id="radiusRange">
        <p>Distance: <span id="demo"></span>km</p>
      </div>

      <script>
        let radiusSlider = document.getElementById("radiusRange");
        let radiusOutput = document.getElementById("demo");
        radiusOutput.innerHTML = radiusSlider.value;

        radiusSlider.oninput = function() {
          radiusOutput.innerHTML = this.value;
        }
      </script>



      <div class="dropdown-divider"></div>




      <!-- Average rent slider -->

      <div class="slidecontainer">
        <h6 class="text-muted text">Median rent</h6>
        <input type="range" min="100" max="2000" value="500" class="custom-range" id="rentRange">
        <p>$<span id="demo2"></span> per week</p>
      </div>

      <script>
        let rentSlider = document.getElementById("rentRange");
        let rentOutput = document.getElementById("demo2");
        rentOutput.innerHTML = rentSlider.value;

        rentSlider.oninput = function() {
          rentOutput.innerHTML = this.value;
        }
      </script>


      <button type="submit" class="button_loco_index"><span class="screen-reader-text">Submit</span>
      </button>
  </form>
 </div>


      <div class="dropdown-divider"></div>
      <br>
      <h5 class="font-weight-normal locos_color">Personalise Match</h5>
      <hr>
      <h6 class="text-muted text">Population Type</h6>
      <div class="form-check custom-checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Families
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Young Professionals
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Retirees
        </label>
      </div>



      <div class="dropdown-divider"></div>


    <h6 class="text-muted text">Cost of living</h6>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">$</button>
        <button type="button" class="btn btn-secondary">$$</button>
        <button type="button" class="btn btn-secondary">$$$</button>
        <button type="button" class="btn btn-secondary">$$$$</button>
      </div>
      <div class="dropdown-divider"></div>

    <h6 class="text-muted text">Atmosphere</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Quiet and serene
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bustling and active
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Party central
        </label>
      </div>

      <div class="dropdown-divider"></div>
      <h6 class="text-muted text">Amenities</h6>

      <!-- Public Transport Routes -->
      <p>Public transport routes</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="transport" id="option3" value="3" autocomplete="off"> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="transport" id="option2" value="2" autocomplete="off" checked> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="transport" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>


      <!-- Shopping areas -->
      <p>Shopping areas</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="shopping" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="shopping" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="shopping" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>


      <!-- Parks -->
      <p>Parks</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="park" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="park" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="park" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>

      <!-- Beaches -->
      <p>Beaches</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="beach" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="beach" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="beach" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>

      <!-- Schools -->
      <p>Schools</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="school" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="school" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="school" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>

      <!-- Medical Facilities -->
      <p>Medical Facilities</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="medical" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="medical" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="medical" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>


      <div class="dropdown-divider"></div>
      <h6>Entertainment</h6>

      <!-- Bars and pubs -->
      <p>Bars and pubs</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="bar" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="bar" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="bar" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>

      <!-- Cafes -->
      <p>Cafes</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="cafe" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="cafe" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="cafe" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>

      <!-- Restaurants -->
      <p>Restaurants</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="restaurant" id="option3" value="3" autocomplete="off" checked> Essential
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="restaurant" id="option2" value="2" autocomplete="off"> Would be nice
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="restaurant" id="option1" value="1" autocomplete="off"> Don't care
        </label>
      </div>
      <p></p>
      <p></p>
      <button id="submit" class="button_loco_index">Refine</button>


<script>
    // Form input


    // Declared variables for the input radio buttons
    let transportSelected;
    let shoppingSelected;
    let parkSelected;
    let beachSelected;
    let schoolSelected;
    let medicalSelected;
    let barSelected;
    let cafeSelected;
    let restaurantSelected;

    // Results for radio buttons
    $("#submit").click(() => {

    transportSelected = $('input[name=transport]:checked').val();
    console.log('transportSelected', transportSelected)

    shoppingSelected = $('input[name=shopping]:checked').val();

    parkSelected = $('input[name=park]:checked').val();

    beachSelected = $('input[name=beach]:checked').val();

    schoolSelected = $('input[name=school]:checked').val();

    medicalSelected = $('input[name=medical]:checked').val();

    barSelected = $('input[name=bar]:checked').val();

    cafeSelected = $('input[name=cafe]:checked').val();

    restaurantSelected = $('input[name=restaurant]:checked').val();

    // Object created for radio form input
    let inputAmenities = {
      transport: transportSelected,
      shopping: shoppingSelected,
      park: parkSelected,
      beach: beachSelected,
      school: schoolSelected,
      medical: medicalSelected,
      bar: barSelected,
      cafe: cafeSelected,
      restaurant: restaurantSelected
    };
    console.log(inputAmenities)


    // Difference between input form values and suburb values

        let suburbAmenities = [];
        var data = {};


        <% @suburb.each_with_index do |suburb,i| %>

        var suburbName = '<%= suburb.name %>';

        var transportValue = <%= @amenity[i].transport %>
        transportValue = Number(transportValue)
        var transportDifference = Number(transportSelected) - transportValue
        console.log('transportValue',transportValue)
        console.log('transportDifference', Math.abs(transportDifference))

        var shoppingValue = <%= @amenity[i].shopping %>
        shoppingValue = Number(shoppingValue)
        var shoppingDifference = Number(shoppingSelected) - shoppingValue
        // console.log('shoppingValue',shoppingValue)
        // console.log('shoppingDifference', Math.abs(shoppingDifference))

        var parkValue = <%= @amenity[i].park %>
        parkValue = Number(parkValue)
        var parkDifference = Number(parkSelected) - parkValue
        // console.log('parkDifference', Math.abs(parkDifference))

        var beachValue = <%= @amenity[i].beach %>
        beachValue = Number(beachValue)
        var beachDifference = Number(beachSelected) - beachValue
        // console.log('beachDifference', Math.abs(beachDifference))

        var schoolValue = <%= @amenity[i].school %>
        schoolValue = Number(schoolValue)
        var schoolDifference = Number(schoolSelected) - schoolValue
        // console.log('schoolDifference', Math.abs(schoolDifference))

        var medicalValue = <%= @amenity[i].medical %>
        medicalValue = Number(medicalValue)
        var medicalDifference = Number(medicalSelected) - medicalValue
        // console.log('medicalDifference', Math.abs(medicalDifference))

        var barValue = <%= @amenity[i].bar %>
        barValue = Number(barValue)
        var barDifference = Number(barSelected) - barValue
        // console.log('barDifference', Math.abs(barDifference))

        var cafeValue = <%= @amenity[i].cafe %>
        cafeValue = Number(cafeValue)
        var cafeDifference = Number(cafeSelected) - cafeValue
        // console.log('cafeDifference', Math.abs(cafeDifference))

        var restaurantValue = <%= @amenity[i].restaurant %>
        restaurantValue = Number(restaurantValue)
        var restaurantDifference = Number(restaurantSelected) - restaurantValue
        // console.log('restaurantDifference', Math.abs(restaurantDifference))

    //////////////////////////

        data[ suburbName ] = {
          transport: Math.abs(transportDifference),
          shopping: Math.abs(shoppingDifference),
          park: Math.abs(parkDifference),
          beach: Math.abs(beachDifference),
          school: Math.abs(schoolDifference),
          medical: Math.abs(medicalDifference),
          bar: Math.abs(barDifference),
          cafe: Math.abs(cafeDifference),
          restaurant: Math.abs(restaurantDifference)
        };

        console.log('data', data)

      <% end %>
    function sumArray (array){
      let sum = 0;
      for (let i=0; i< array.length; i++){
         sum += array[i];
      }
      return sum;
    };

      var temp = document.getElementsByClassName("score-card")

      let sums = [];
      let w = 0
      for (let suburbName in data) {
        // sum += (Object.values(data[suburbName]));
        let sum = 0
        // console.log(Object.values(data[suburbName]));
        let obj = Object.values(data[suburbName]);
        sum = 100*(sumArray(obj)/18).toFixed(2);
        let sumPercent = sum+"%"+" Match";
        temp[w].innerText = sumPercent;
        w+=1;

      }

      console.log(sums);

          // console.log('diff', transportDifference);
          // console.log(suburbAmenities)
          // console.log(suburbAmenities[0].transport)

      });

    // Values for each suburb (based on seed data)

    let suburbAmenities = [];
        <% @suburb.each_with_index do |suburb,i| %>
        suburbAmenities.push(
        {
          transport: <%= @amenity[i].transport %>,
          shopping: <%= @amenity[i].shopping %>,
          park: <%= @amenity[i].park %>,
          beach: <%= @amenity[i].beach %>,
          school: <%= @amenity[i].school %>,
          medical: <%= @amenity[i].medical %>,
          bar: <%= @amenity[i].bar %>,
          cafe: <%= @amenity[i].cafe %>,
          restaurant: <%= @amenity[i].restaurant %>
        }
      );

      <% end %>

    </script>

</div>

  <!-- Filter Section END -->
  <!-- Suburbs Cards  -->
  <div class="suburbs_cardholder">
    <div class="suburb_card">
      <% @suburb.each do |suburb| %>
      <a href="<%= suburb_path(suburb.id) %>" class="suburb_card_link">
      <div class="card suburb_card2" style="width: 18rem;">
        <div style=" position: relative; top: 35px; left: 205px; margin-top:0; width: 18rem; height: 0; vertical-align: middle;">
        <div class="percentage_circle" style="margin-top:0;">
          <p class="score-card">100% Match</p>
        </div>
        </div>
        <img src="<%= suburb.image_url %>" class="card-img-top" alt="image of <%= suburb.name %>">
        <div class="card-body card_body_hover" style="margin-bottom: 0;">
          <h5 class="card-title text-center" style="width: 14rem; margin-bottom: 0;"><%= suburb.name %></h5>
          <!-- <p class="card-text"><%= truncate(suburb.description, length: 100) %></p> -->
          <!-- <p class="card-text"><%= suburb.median_rent %></p>
          <p class="card-text"><%= suburb.living_cost %></p>
          <p class="card-text"><%= suburb.long %></p>
          <p class="card-text"><%= suburb.lat %></p> -->
        </div>
      </div>
      </a>
      <% end %>
    </div>
  </div>
  <!-- Suburbs Cards END  -->
</div>

<!-- Main Body END -->
