

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="/">Locus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= suburbs_path %>">Suburbs</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NavBar END -->

<!-- Header -->
<h1 class="text_align suburbs_head_h">Sydney Suburbs Guide!</h1>
<p class="text_align suburbs_head_p">Find me in app/views/suburbs/index.html.erb</p>
<!-- Header END -->

<!-- Main Body -->
<div class="content_body">
  <!-- Filter Section  -->
  <div class="filter_card">
    <h6>Central Location/s</h6>

    <form id="search">
      <input class="form-control" id="query" type="search" placeholder="Manly">
      <!-- <input type="submit" id="button">
      <!-- <button type="button" id="find" name="button">button </button> -->
    </form>

    <script>

    console.log("test");
    var newSearch = false;
    $(document).ready(function(){
      var filtered = [];
      $("#search").submit(function(e){
        e.preventDefault();
        var centerLocation = $('#query').val();
        console.log(centerLocation)
        console.log("clicked");
        const generateURL = [
          'https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=',
          centerLocation,
          '&destinations=',
          <%= @suburb[0].lat %>,
          ',',
          <%= @suburb[0].long %>,
          '&key=AIzaSyDq4x5aUE4322H4RlzzcFMT0XBQPwvF3gw'
            ].join('');
            console.log(generateURL);

            $.ajax({
                   url : generateURL,
                   type: 'GET',
                   success : function(data){
                   console.log("Request done");
                   }
               });
      });
    });




        <% @suburb.each do |suburb| %>


        var latitude = 0;
        var longitude = 0;
        var rent = 0;
        var costOfLiving = 0;

        var suburbName = <%= suburb.id %>;
        var geocoder = new google.maps.Geocoder();
        latitude = <%= suburb.lat %>;
        longitude = <%= suburb.long %>;
        rent = <%= suburb.median_rent %>;
        costOfLiving = <%= suburb.living_cost %>;

        console.log(suburbName);

        renderSuburbs(geocoder, centerLocation, latitude, longitude, suburbName, rent, costOfLiving );

        function renderSuburbs(geocoder, address, latitude, longitude, suburbName, rent, costOfLiving) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            long = parseFloat(results[0].geometry.location.lng().toString());
            lat = parseFloat(results[0].geometry.location.lat().toString());
            var userloc = new google.maps.LatLng(lat, long);
            var suburbloc = new google.maps.LatLng( latitude, longitude);
            var distance_in_km = (google.maps.geometry.spherical.computeDistanceBetween( userloc, suburbloc )/1000).toFixed(2);
            let radius = document.getElementById("radiusRange").value;
            radius = parseInt(radius);
            let rentRange = document.getElementById("rentRange").value;

            console.log(suburbName);
            console.log("Radius:" + radius);
            console.log("Distance:" + distance_in_km);

            if (distance_in_km <= radius && rent <= rentRange) {
                 console.log("Selected suburb");
                 console.log("--------");
                 var container = document.getElementsByClassName("suburbs_cardholder");
                 let i = parseInt(suburbName);
                 var p = container[0].firstElementChild.children[i-1];
                 p.style.display="inline-block";
            } else {
                var container = document.getElementsByClassName("suburbs_cardholder");
                console.log(container);
                let i = parseInt(suburbName);
                var p = container[0].firstElementChild.children[i-1];
                console.log(p);
                p.style.display="none";
            }

          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      // end geocoding location
      <% end %>
      console.log(filtered);
      newSearch = true;

    });// end

    });
</script>


      <%# <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Sydney CBD
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bondi Beach
        </label>
      </div> %>

      <!-- Distance slider -->

      <!-- Constant for Sydney -->







      <div class="slidecontainer">
        <h6>Search Radius</h6>
        <input type="range" min="1" max="200" value="50" class="custom-range" id="radiusRange">
        <p>Distance: <span id="demo"></span>km</p>
      </div>

      <script>
        let radiusSlider = document.getElementById("radiusRange");
        let radiusOutput = document.getElementById("demo");
        radiusOutput.innerHTML = radiusSlider.value;

        radiusSlider.oninput = function() {
          radiusOutput.innerHTML = this.value;
        }
      </script>



      <div class="dropdown-divider"></div>


    <h6>Population Type</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Families
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Young Professionals
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Retirees
        </label>
      </div>
    <div class="dropdown-divider"></div>

      <!-- Average rent slider -->

      <div class="slidecontainer">
        <h6>Median rent</h6>
        <input type="range" min="100" max="2000" value="500" class="custom-range" id="rentRange">
        <p>$<span id="demo2"></span> per week</p>
      </div>

      <script>
        let rentSlider = document.getElementById("rentRange");
        let rentOutput = document.getElementById("demo2");
        rentOutput.innerHTML = rentSlider.value;

        rentSlider.oninput = function() {
          rentOutput.innerHTML = this.value;
        }
      </script>



      <div class="dropdown-divider"></div>


    <h6>Cost of living</h6>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">$</button>
        <button type="button" class="btn btn-secondary">$$</button>
        <button type="button" class="btn btn-secondary">$$$</button>
        <button type="button" class="btn btn-secondary">$$$$</button>
      </div>
      <div class="dropdown-divider"></div>

    <h6>Atmosphere</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Quiet and serene
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bustling and active
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Party central
        </label>
      </div>


<div class="dropdown-divider"></div>
<h6>Amenities</h6>

<!-- Public Transport Routes -->
<p>Public transport routes</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<label><input type="radio" name="gender" value="male">Male</label>
<label><input type="radio" name="gender" value="female">Female</label>
<input type="button" value="Get Value">

<script>

  $(document).ready(function(){
          $("input[type='button']").click(function(){
          	var radioValue = $("input[name='gender']:checked").val();
              if(radioValue){
                  alert("Your are a - " + radioValue);
              }
          });

      });



$('#btn-group').click(function() {
   if($('#option1').is(':checked')) { console.log("it's checked"); }
});


$("#submit").click(() => {
  const val = $('input[name=q12_3]:checked').val();
  alert(val);

  <input type="button" value="Get Value">
});
</script>

<!-- Shopping areas -->
<p>Shopping areas</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Parks -->
<p>Parks</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Beaches -->
<p>Beaches</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Schools -->
<p>Schools</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Medical Facilities -->
<p>Medical Facilities</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>


<div class="dropdown-divider"></div>
<h6>Entertainment</h6>

<!-- Bars and pubs -->
<p>Bars and pubs</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Cafes -->
<p>Cafes</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

<!-- Restaurants -->
<p>Restaurants</p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Essential
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Would be nice
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Don't care
  </label>
</div>

</div>

  <!-- Filter Section END -->

  <!-- Suburbs Cards  -->
  <div class="suburbs_cardholder">
    <div class="suburb_card">
      <% @suburb.each do |suburb| %>
      <a href="<%= suburb_path(suburb.id) %>" class="suburb_card_link">
      <div class="card suburb_card2" style="width: 18rem;">
        <img src="<%= suburb.image_url %>" class="card-img-top" alt="image of <%= suburb.name %>">
        <div class="card-body text_align">
          <h5 class="card-title"><%= suburb.name %></h5>
          <p class="card-text"><%= truncate(suburb.description, length: 100) %></p>
          <!-- <p class="card-text"><%= suburb.median_rent %></p>
          <p class="card-text"><%= suburb.living_cost %></p>
          <p class="card-text"><%= suburb.long %></p>
          <p class="card-text"><%= suburb.lat %></p> -->

        </div>
      </div>
      </a>
      <% end %>
    </div>
  </div>
  <!-- Suburbs Cards END  -->
</div>

<!-- Main Body END -->
