<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="#">Loco</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="<%= suburbs_path %>">Suburbs</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NavBar END -->

<!-- Header -->
<h1 class="text_align suburbs_head_h">Sydney Suburbs Guide!</h1>
<p class="text_align suburbs_head_p">Find me in app/views/suburbs/index.html.erb</p>
<!-- Header END -->

<!-- Main Body -->
<div class="content_body">
  <!-- Filter Section  -->
  <div class="filter_card">
    <h6>Central Location/s</h6>
      <input class="form-control" type="text" placeholder="Manly">

      <%# <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Sydney CBD
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bondi Beach
        </label>
      </div> %>

      <!-- Distance slider -->

      <!-- Constant for Sydney -->

      <input id="get-center" type="button" value="Go">





      <div class="slidecontainer">
        <h6>Search Radius</h6>
        <input type="range" min="1" max="200" value="50" class="custom-range" id="radiusRange">
        <p>Distance: <span id="demo"></span>km</p>
      </div>

      <script>
        let radiusSlider = document.getElementById("radiusRange");
        let radiusOutput = document.getElementById("demo");
        radiusOutput.innerHTML = radiusSlider.value;

        radiusSlider.oninput = function() {
          radiusOutput.innerHTML = this.value;
        }
      </script>



      <div class="dropdown-divider"></div>


    <h6>Population Type</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Families
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Young Professionals
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Retirees
        </label>
      </div>
    <div class="dropdown-divider"></div>

      <!-- Average rent slider -->

      <div class="slidecontainer">
        <h6>Median rent</h6>
        <input type="range" min="100" max="2000" value="500" class="custom-range" id="rentRange">
        <p>$<span id="demo2"></span> per week</p>
      </div>

      <script>
        let rentSlider = document.getElementById("rentRange");
        let rentOutput = document.getElementById("demo2");
        rentOutput.innerHTML = rentSlider.value;

        rentSlider.oninput = function() {
          rentOutput.innerHTML = this.value;
        }
        console.log(demo2);
      </script>



      <div class="dropdown-divider"></div>


    <h6>Cost of living</h6>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">$</button>
      <button type="button" class="btn btn-secondary">$$</button>
      <button type="button" class="btn btn-secondary">$$$</button>
      <button type="button" class="btn btn-secondary">$$$$</button>
      </div>
      <div class="dropdown-divider"></div>

    <h6>Atmosphere</h6>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Quiet and serene
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Bustling and active
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Party central
        </label>
      </div>

</div>
  <!-- Filter Section END -->

  <!-- Suburbs Cards  -->

<!--
https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=
sydney
&destinations=
-33.857762,20151.220273
&key=AIzaSyDq4x5aUE4322H4RlzzcFMT0XBQPwvF3gw
-->


<!-- Non functioning Google computeDistanceBetween function

<script>
  function  getDistance (lat ,long) {
    let _kCord = new google.maps.LatLng(-33.857762, 151.220273);
    var _pCord = new google.maps.LatLng(lat, long);
    let dist = google.maps.geometry.spherical.computeDistanceBetween (_kCord, _pCord);
    console.log(lat, long, dist);
    return dist;
  };

  <% @suburb.each do |suburb| %>
  var d = getDistance(<%= suburb.long %>, <%= suburb.lat %>);
  console.log(d);
  <% end %>

</script>

-->

  <div class="suburbs_cardholder">
    <div class="suburb_card">
      <% @suburb.each do |suburb| %>
      <a href="<%= suburb_path(suburb.id) %>" class="suburb_card_link">
      <div class="card suburb_card2" style="width: 18rem;">
        <img src="<%= suburb.image_url %>" class="card-img-top" alt="image of <%= suburb.name %>">
        <div class="card-body text_align">
          <h5 class="card-title"><%= suburb.name %></h5>
          <p class="card-text"><%= truncate(suburb.description, length: 100) %></p>
          <!-- <p class="card-text"><%= suburb.median_rent %></p>
          <p class="card-text"><%= suburb.living_cost %></p>
          <p class="card-text"><%= suburb.long %></p>
          <p class="card-text"><%= suburb.lat %></p> -->

        </div>
      </div>
      </a>
      <% end %>
    </div>
  </div>
  <!-- Suburbs Cards END  -->
</div>

<!-- Main Body END -->
