<h1>Suburbs#show</h1>
<p>Find me in app/views/suburbs/show.html.erb</p>

<!-- Secondary Nav Section -->

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Lifestyle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cost of Living</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cost of Living</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Renting in <%= @suburb.name %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Entertainment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Transport</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Amenities</a>
  </li>

  </li>
</ul>

<div class="content_body">
  <div class="filter_card">

  </div>

  <div class="suburbs_card">
      <% @suburb.name %>
      <div class="card" style="width: 18rem;">
        <img src="<%= @suburb.image_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @suburb.name %></h5>
          <p class="card-text"><%= @suburb.description %></p>
          <p class="card-text"><%= @suburb.median_rent %></p>
          <p class="card-text"><%= @suburb.living_cost %></p>
          <p class="card-text"><%= @suburb.long %></p>
          <p class="card-text"><%= @suburb.lat %></p>
        </div>
      </div>
  </div>
</div>
